body {
  margin: 0;
  text-align: center;
  height: 100vh;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.split {
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.left {
  position: absolute;
  left: 0;
  top: 0;
  background-color: pink;
  background-image: url("https://m.media-amazon.com/images/I/619oqSJVY5L._SX679_.jpg");
  background-size: cover;
  transition: width 0.5s ease-in-out;
}

.right {
  position: absolute;
  right: 0;
  top: 0;
  background-color: lightblue;
  background-image: url("https://m.media-amazon.com/images/I/61-g46cjguL._SX569_.jpg");
  background-size: cover;
  transition: width 0.5s ease-in-out;
}

h1 {
  font-size: 100px;
  color: aliceblue;
  backdrop-filter: brightness(0.5);
  letter-spacing: 4px;
}

.btn {
  padding: 20px 40px;
  font-size: 20px;
  background-color: black;
  color: white;
  border: 3px solid white;
  cursor: pointer;
  white-space: nowrap;
}

.btn:hover {
  background-color: white;
  color: black;
  border: 3px solid black;
  transition: all 0.3s ease-in-out;
  white-space: nowrap;
}

.active-left .left {
  width: 75%;
}

.active-right .right {
  width: 75%;
}

.active-left .right {
  width: 25%;
}
.active-right .left {
  width: 25%;
}
